{
    "presets": [
        // "es2015-rollup",
        [
            "es2015",
            {
                "modules": false,
                "loose": true
            }
        ],
        "react"
    ],
    "plugins": [
        "transform-object-rest-spread"
        // [
        //     "transform-runtime",
        //     {
        //         "polyfill": false,
        //         "regenerator": true
        //     }
        // ],
        // "external-helpers",
    ],
    "env": {
        "development": {
            "plugins": ["react-hot-loader/babel"]
        },
        "production": {
            "plugins": [
                "external-helpers",
                [
                    "transform-react-remove-prop-types",
                    { "removeImport": true }
                ]
            ]
        }
    }
}
